<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="LithnetPrivatePackages" value="https://pkgs.dev.azure.com/lithnet/_packaging/LithnetPrivatePackages/nuget/v3/index.json" />
		<add key="Telerik" value="https://nuget.telerik.com/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="Telerik">
			<package pattern="Telerik.*" />
		</packageSource>
		<packageSource key="LithnetPrivatePackages">
			<package pattern="Lithnet.*" />
			<package pattern="Telerik.UI.for.Wpf.NetCore.Xaml" />
			<package pattern="Telerik.UI.for.Wpf.70.Xaml" />
			<package pattern="sslcertbinding.net" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>