<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net45" />
  <package id="Lithnet.Common.ObjectModel" version="1.0.6258.25160" targetFramework="net45" />
  <package id="Lithnet.MetadirectoryServices" version="1.0.6478.33562" targetFramework="net45" />
  <package id="Lithnet.Transforms" version="1.5.6435.37644" targetFramework="net45" />
  <package id="PropertyChanged.Fody" version="1.51.3" targetFramework="net45" developmentDependency="true" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net45" />
</packages>